<table>
  <tr>
    <th>Protocol</th>
    <th>Hostname</th>
    <th>Port</th>
    <th>Edit</th>
    <th>Details</th>
  </tr>
  <tr *ngFor="let server of servers" [style.background-color]="server.available ? 'PaleGreen' : 'LightPink'">
    <td>{{ server.proto }}</td>
    <td>{{ server.host }}</td>
    <td>{{ server.port }}</td>
    <td><button [routerLink]="['.', server.key, 'edit']">Edit</button></td>
    <td><button [routerLink]="['.', server.key]" [disabled]="!server.available">Open Details</button></td>
  </tr>
</table>
<button [routerLink]="['.', 'new']">Add server</button>
